<!DOCTYPE html>
<html>
<head>
  <title>HackerNews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <center>
    <div id='main_body'>
      <header id='nav_bar'>
        <a href='http://www.ycombinator.com' id='y'>Y</a>
        <a href='<%= root_path %>' id='hacker_news'>Hacker News</a>
        <a href='#' class='nav_link' id='first_link'>welcome</a>
        <a href='#' class='nav_link'>new</a>
        <a href='#' class='nav_link'>threads</a>
        <a href='#' class='nav_link'>comments</a>
        <a href='#' class='nav_link'>show</a>
        <a href='#' class='nav_link'>ask</a>
        <a href='#' class='nav_link'>jobs</a>
        <a href='#' class='nav_link' id='last_link'>submit</a>
        <a href='login' class='nav_link' id='login'>login</a>
      </header>

      <%= yield %>
    </div>
  </center>
</body>
</html>